<nav>
    <div class="logo">
        <%=link_to root_path do %>
            <%= image_tag "amaras-games-logo.svg", id:'non-game-image' %>
        <% end %>
    </div>
    <div class="socials-icons">
        <div class="icons"><i class="fa-brands fa-github"></i></div>
        <div class="icons"><i class="fa-brands fa-hashnode"></i></div>
        <div class="icons"><i class="fa-brands fa-twitter"></i></div>
    <div>
</nav>