@import "variables";

.footer-container {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer-item-1 {
    display: block;
    margin: 28.27px 16px 0px;
}

.footer-item-2 {
    display: block;
    margin-top: 28.27px;
    text-align: center;
}

@media screen and (min-width: $screen-mnw) {
    .footer-container{
        height: 87.08px;
    }
    .footer-item-1 {
        margin: 0px 120px 0px 120px;
    }

}